footer {
    background: url(/img/Image\ footer\ 2.jpg) center center;
    background-size: cover;

    min-height: 80vh;
    width: 100%;


}

.filtre {
    width: 100%;
    min-height: 80vh;
    background: rgba(2, 1, 1, 0.7) center center/cover;
    padding: 3rem 3rem 0.5rem 3rem;

    .contenaire {
        display: flex;
        justify-content: center;
        align-items: center;


        .block-1 {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 400px;
            padding-top: 9rem;

            .text-logo {
                display: flex;
                justify-content: flex-start;

                p {
                    line-height: 6rem;
                    margin-right: 1rem;
                    font-weight: 1000;
                }
            }

            p {
                font-weight: 700;

            }
        }

        .block-contact {
            min-width: 400px;
            height: 400px;

            h1 {
                border-left: solid 1.5px var(--primary);
                margin-bottom: 1rem;
                padding-left: 0.5rem;
                border-radius: 2px;
                color: white;
                font-weight: 600;
                font-size: 15px;
            }

            p {
                margin-bottom: 2rem;

            }

            .icone-texte {
                margin-bottom: 2rem;

                p {
                    display: inline;
                    margin: 0 1rem;
                }

                a:hover {
                    color: var(--primary);
                }
            }

            i {
                color: var(--primary);
            }

        }

        .block {
            height: 400px;
            min-width: 400px;
            margin: 1rem 0 1rem 2rem;
            padding-left: 10px;


            h1 {
                border-left: solid 1.5px var(--primary);
                margin-bottom: 1rem;
                padding-left: 0.5rem;
                border-radius: 2px;
                color: white;
                font-weight: 600;
                font-size: 15px;
            }

            ul {
                list-style-type: circle;
                margin: 1rem;

                li {
                    margin: 0 0 1rem 0;
                }

            }

            ul li :hover {
                color: var(--primary);
            }

        }

    }

    .fin {
        border-top: 1px solid var(--bleu-claire);
        padding: 1rem 0 0 0;
        display: flex;
        justify-content: space-between;

        a {
            border: 1px solid var(--bleu-claire);
            height: 50px;
            width: 50px;
            background: none;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
        }

        p {
            line-height: 1.8rem;
        }

        i {
            color: var(--primary);
        }

        a:hover {
            border: 1px solid var(--primary);
        }
    }

}

p {
    font-weight: 700;
}

li {
    font-weight: 700;
}